#window {
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    max-width: 575px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 920px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1220px;
  }
}