<mat-sidenav-container id="angular-universal-seed" class="mat-typography">
  
    <!-- Side Menu -->
    <mat-sidenav id="side-menu" #sideMenu mode="over" opened="false">
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of menu" routerLink="{{item.path}}" routerLinkActive="active" (click)="sideMenu.close()">{{item.title}}</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Header -->
    <mat-toolbar id="header" color="primary">
      <div class="container">
        <a mat-button routerLink="/"><mat-icon svgIcon="angular"></mat-icon> {{name}}</a>
        <span class="spacer"></span>
        <div id="header-menu" class="toolbar-menu" fxShow fxShow.xs="false">
          <a mat-button *ngFor="let item of menu" routerLink="{{item.path}}" routerLinkActive="active">{{item.title}}</a>
        </div>
        <button mat-icon-button fxHide fxHide.xs="false" (click)="sideMenu.open()"><mat-icon>menu</mat-icon></button>
      </div>
    </mat-toolbar>
  
    <!-- Content -->
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  
  </mat-sidenav-container>